################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RRMD/Library
/RRMD/Temp
/RRMD/Logs
